/* Body Styling */
body {
    font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    margin-bottom: 20px;
}

/* Card Styling */
.card {
    width: 100%;
    margin: auto;
}

.card img {
    height: 180px;
    object-fit: cover;
}

/* Footer Styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}
